- name: Ensure base dir exist
  file: path=${app_base_dir} state=directory
- name: Ensure packages dir exist
  file: path=${app_packages_dir} state=directory
- name: Ensure ensure version dir exist
  file: path="${app_packages_dir}/${app_version}" state=directory
- name: Ensure virtualenv is set up
  command: virtualenv venv chdir="${app_packages_dir}/${app_version}" creates=venv
